
.vs17/SalesforceMetadata/v16/.suo
SalesforceMetadata/obj/Debug/SalesforceMetadata.csproj.AssemblyReference.cache
SalesforceMetadata/obj/Debug/Interop.SHDocVw.dll
SalesforceMetadata/obj/Debug/SalesforceMetadata.csproj.ResolveComReference.cache
.vs/SalesforceMetadata/v17/.suo
