<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SalesforceMetadata.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SalesforceMetadata.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SalesforceMetadata.Properties.Settings>
            <setting name="UserAndAPIFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SharedSecretLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Salt" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFolderSaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFolderReadLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="MetadataFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DeploymentPackageTreeNodeSaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultAPI" serializeAs="String">
                <value>54.0</value>
            </setting>
        </SalesforceMetadata.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SalesforceMetadata.Properties.Settings>
            <setting name="SalesforceMetadata_PartnerWSDL_SforceService"
                serializeAs="String">
                <value>https://login.salesforce.com/services/Soap/u/55.0</value>
            </setting>
            <setting name="SalesforceMetadata_MetadataWSDL_MetadataService"
                serializeAs="String">
                <value>https://login.salesforce.com/services/Soap/m/55.0</value>
            </setting>
            <setting name="SalesforceMetadata_ToolingWSDL_SforceServiceService"
                serializeAs="String">
                <value>https://login.salesforce.com/services/Soap/T/55.0</value>
            </setting>
        </SalesforceMetadata.Properties.Settings>
    </applicationSettings>
</configuration>
